# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lab1_ws/install
lab1_ws/log
lab1_ws/build

lab2_ws/install
lab2_ws/log
lab2_ws/build

lab3_ws/install
lab3_ws/log
lab3_ws/build

lab4_ws/install
lab4_ws/log
lab4_ws/build

lab5_ws/install
lab5_ws/log
lab5_ws/build

lab6_ws/install
lab6_ws/log
lab6_ws/build

lab7_ws/install
lab7_ws/log
lab7_ws/build

lab9_ws/install
lab9_ws/log
lab9_ws/build


sim_ws
f1tenth_gym

lab7_ws/src/lab7_pkg/data/*.csv